<mat-toolbar color="primary">
    <span>
      <a routerLink="/">TrueSeer</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/bets" routerLinkActive="mat-accent">Your Bets</a>
      </li>
      <li>
        <a mat-button routerLink="/matches" routerLinkActive="mat-accent">Upcoming Matches</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </mat-toolbar>
  <!-- <mat-card *ngIf="isLogin">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)='onLogin(loginForm)' #loginForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput name="email" ngModel type='email' placeholder="E-mail" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid">{{"Please enter a valid email"}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="password" ngModel type='password' placeholder="Password" #passwordInput="ngModel" required>
            <mat-error *ngIf="passwordInput.invalid">{{"Please enter a valid password"}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type='submit'>Login</button>
    </form>
</mat-card>

<mat-card *ngIf="isSignup">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)='onSignup(signupForm)' #signupForm = "ngForm" *ngIf="!isLoading">
      <mat-form-field>
          <input matInput name="email" ngModel type='email' placeholder="E-mail" #emailInput="ngModel" required email>
          <mat-error *ngIf="emailInput.invalid">{{"Please enter a valid email"}}</mat-error>
      </mat-form-field>
      <mat-form-field>
          <input matInput name="password" ngModel type='password' placeholder="Password" #passwordInput="ngModel" required>
          <mat-error *ngIf="passwordInput.invalid">{{"Please enter a valid password"}}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type='submit'>Sign up</button>
  </form>
</mat-card> -->